<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Editor</title>
	<link rel="stylesheet" crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />
	<link rel="stylesheet" crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.21.2/dist/bootstrap-vue.css"/>
	<link rel="stylesheet" crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/jstree@3.3.10/dist/themes/default/style.min.css" />
	<link rel="stylesheet" crossorigin="anonymous" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="css/bootstrap-override.css" />
	<link rel="stylesheet" href="../shared/css/util.css" />
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
	<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/vue-i18n@8.22.3/dist/vue-i18n.min.js"></script>
	<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.js"></script>
	<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.21.2/dist/bootstrap-vue-icons.min.js"></script>
	<script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script crossorigin="anonymous" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/jstree@3.3.10/dist/jstree.min.js"></script>
	<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/maphilight@1.4.0/jquery.maphilight.min.js"></script>
	<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/langmap@0.0.16/language-mapping-list.min.js"></script>
	<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script crossorigin="anonymous" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/vue-qrcode-reader@2.3.16/dist/VueQrcodeReader.umd.min.js"></script>
	<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
	<script src="/bundles/tiptap.js"></script>
	<script src="/libs/datalist-polyfill/datalist-polyfill.min.js"></script>
	<script type="module" src="js/init.js"></script>
	<style>
		.list-group-item.active {
			background-color: lightblue;
		}
		#editor-section {
			border: 0.1em solid black;
			padding: 1em;
		}
		#editor-content {
			outline: 0.1em solid black;
		}
	</style>
</head>
<body>
<div id="editor">
	<i18n-selector-widget
			class="mx-3 my-4"
			id="i18n-selector-widget"
			v-bind:locale="locale"
			v-bind:locales-list="localesList"
			v-on:set-locale="locale = $event"
	></i18n-selector-widget>

	<b-card no-body v-if="!locale">
		<div class="text-center text-muted my-5">
			<h4 v-t="'StoryEditorWidget.label-select-internationalization'"></h4>
		</div>
	</b-card>

	<b-card no-body v-else>
		<b-tabs v-on:input="onTabClick">
			<b-tab v-bind:title="$tc('shared.label-story', 2 )">
				<story-editor-widget
						id="story-editor-widget"
						ref="story"
						v-model="cache.story"
						v-bind:mission="cache.mission"
						v-bind:names="remoteStories"
						v-bind:stories="localStories"
						v-bind:locale="locale"
						v-bind:locales-list="localesList"
						v-on:update-names="getRemoteStoryNames()"
						v-on:import="load"
						v-on:add-local-story="addToLocalStories"
						v-on:delete-local-story="deleteFromLocalStories"
						v-on:change-story="changeSelectedStory"
						v-on:select-mission="selectMission"
						v-bind:copied-mission="copiedMission"
						v-on:copy-mission="copyMission"
				></story-editor-widget>
			</b-tab>
			<b-tab v-bind:title="$tc('shared.label-activity', 2)">
				<activity-editor-widget
						id="activity-editor-widget"
						ref="activity"
						v-bind:mission="cache.mission"
						v-bind:locale="locale"
						v-bind:locales-list="localesList"
						v-on:save-story="saveStory"
						v-bind:copied-activity="copiedActivity"
						v-bind:grabbed-activity="grabbedActivity"
						v-on:copy-activity="copyActivity"
						v-on:grab-activity="grabActivity"
						v-model="cache.activity"
				></activity-editor-widget>
			</b-tab>
			<b-tab v-bind:title="$t('shared.label-asset-manager')">
				<assets-manager
						v-bind:current-story="cache.story"
				></assets-manager>
			</b-tab>
			<b-tab v-bind:title="$t('shared.label-style-editor')">
				<style-editor-widget
						v-bind:value="cache.story.style"
				></style-editor-widget>
			</b-tab>
		</b-tabs>
	</b-card>
</div>
</body>
</html>