# Wildcard files section
*.sw[op]

## Express rules
*.log
*.pid
*.seed
*.pid.lock
*.tgz
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Wildcard directories section

# Specific files section
## Express rules
logs
pids
lib-cov
coverage
.npm
.nyc_output
.grunt
bower_components
.lock-wscript
.eslintcache
.node_repl_history
.yarn-integrity
.env
.next
.npm
.eslintcache
/package-lock.json

# Specific directories section
.idea/
node_modules/
jspm_packages/

# Authored
/stories/
/assets/

## Express rules
build/Release
node_modules/
jspm_packages/
typings/
