div.sezionealto{
    width:90%;
    height: 50%;
    border: solid 3px #42b983;
    padding: 5px;
}

div#Sezioneintitolo> div> img{
    float:right;
}

.pulsanteAdd{
    float:right;
}

.pulsanteMod{
max-width: 15px;
    max-height: 15px;
}

.cImgSfondoMissione>div>img{
    float:right;
}

.sezionealto >img{
    position: relative;
    right: 0px;
    height:10%;
    width: 10%;
}

div#Sezioneintitolo > div > img{
    width: 20px;
    height: 20px;
}

div#Sezioneintitolo > div > p{
    width:50%;
    height: 50%;
}
div#Sezioneintitolo > div{
    display: inline;
}
.cSezioneCentrale{
    border: solid 1px black;
    overflow-y:scroll;
    overflow-x:hidden;
}

div.cImgSfondoMissione{
    position:relative;
}

div img{
    width: 100%;
}
div.cMissione{
    margin:3px;
}



div.cMissione{
    border: solid 1px black;
}

div#sezionetitolo p{
    font-size: 20px;
}

body > div{
    margin:10px;
}

button#bottonefinale{
    float:right;
    width: 100px;
    height: 50px;
    background-color: #32c011
}